<template lang="pug">
el-dropdown.dropdown-menu
  span.el-dropdown-link
    i.el-icon-more.el-icon--right
  el-dropdown-menu(slot='dropdown')
    el-dropdown-item(style="padding-top: 10px;")
      NightModeIcon(:size="'32px'")
</template>

<script>
import NightModeIcon from '@/components/Icons/NightModeIcon';

export default {
  components: {
    NightModeIcon,
  },
};
</script>
