<template lang="pug">
.header-wrap
  DropDownMenu
</template>

<script>
import DropDownMenu from './DropDownMenu';

export default {
  components: {
    DropDownMenu,
  },
};
</script>

<style lang="scss">
@import '@/assets/scss/colors.scss';

.header-wrap {
  width: 100%;
  .dropdown-menu {
    margin-top: 20px;
    float: right;
    .el-icon-more {
      font-size: 26px;
    }
  }
}
.el-dropdown-link {
  cursor: pointer;
  color: $blue;
}
.el-icon-arrow-down {
  font-size: 12px;
}
</style>
