<template lang="pug">
.home-wrap
  el-container
    el-header
      Header
    el-main
      WeekLine
      TypeSwitch.home-widget
      TimerWidget.home-widget
      TaskList.home-widget(v-if="!$store.state.timerActive")
</template>

<script>
import Header from './Header/Header';
import TimerWidget from './TimerWidget';
import TypeSwitch from './Switch';
import TaskList from './TaskList';
import WeekLine from './WeekLine';

export default {
  components: {
    Header,
    TimerWidget,
    TypeSwitch,
    TaskList,
    WeekLine,
  },
};
</script>

<style lang="scss">


.switch-wrap {
  padding: 20px;
  font-size: 18px;
}
.home-widget {
  margin: 5px;
}
</style>
