<template lang="pug">
.switch-wrap
  el-switch(v-model='$store.state.isCountDown',
    active-text='Count Down',
    inactive-color="#00f794",
    inactive-text='Time Tracker')
</template>

<script>
export default {
  data() {
    return {
      value: true,
    };
  },
};
</script>
