<template lang="pug">
.tasklist-wrap
  el-card
    ul
      li
        el-button.add-btn(round icon="el-icon-plus" @click="addTask")
          span.label add new task
      li.task(v-for='task in testTasks')
        el-card
          span.completed
            i.el-icon-success(v-if='task.completed === 100')
          span.demonstration {{task.context}}
          el-slider(v-model='task.completed' @change='changeComplete')

</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState(['testTasks']),
  },
  methods: {
    addTask() {
      this.$prompt('Enter the task.', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
      }).then(({ value }) => {
        this.$store.dispatch('addTask', value);
      });
    },
    changeComplete() {
      console.log(this.testTasks);
    },
  },
};
</script>

<style lang="scss">
@import '@/assets/scss/colors.scss';

.completed {
  i {
    color: $green;
  }
}
.add-btn {
  text-transform: uppercase;
}
.tasklist-wrap {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      .add-btn {
        position: relative;
        .label {
          margin-top: -5px;
        }
      }
    }
    .task {
      margin: 5px;
      .context {
        background: #eee;
      }
    }
  }
}
</style>
