<template lang="pug">
el-card.time-wrap
  .count-down(v-if="$store.state.isCountDown")
    .time
      span.time-num.minutes {{minutes}}:
      span.time-num.seconds {{seconds}}
    .time-labels
      span.minutes-label minutes
      span.seconds-label seconds
  .timetracker(v-else)
    .time
      span.time-num.minutes {{mminutes}}:
      span.time-num.seconds {{sseconds}}
    .time-labels
      span.minutes-label minutes
      span.seconds-label seconds
  el-button.el-icon-caret-right.start-icon(v-if="!$store.state.timerActive" @click="Start")
  el-button.el-icon-circle-check.start-icon(v-else @click="Finish")
</template>

<script>
function stringTime(num) {
  const nStr = num.toString();
  if (num < 10) {
    return `0${nStr}`;
  }
  return nStr;
}

export default {
  data() {
    return {
      timeLeft: 2700,
      mminutes: '00',
      sseconds: '00',
    };
  },
  computed: {
    hours() {
      return (stringTime(Math.floor(this.timeLeft / 3600)));
    },
    minutes() {
      return (stringTime(Math.floor((this.timeLeft / 60) % 60)));
    },
    seconds() {
      return (stringTime(Math.floor((this.timeLeft) % 60)));
    },
  },
  methods: {
    Start() {
      this.$store.dispatch('startCountDown');
      const Counter = setInterval(() => {
        if (this.timeLeft === 0 || !this.$store.state.timerActive) {
          clearInterval(Counter);
          return;
        }
        this.timeLeft = this.timeLeft - 1;
      }, 1000);
    },
    Finish() {
      this.$store.dispatch('stopCountDown');
    },
  },
};


</script>

<style lang="scss">
.labels {
  text-transform: uppercase;
}
.time-wrap {
  max-width: 100%;
  .time {
    font-size: 72px;
  }
  .start-icon {
    font-size: 34px;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50%;
  }

}

.time-labels {
  margin-top: -10px;
  .minutes-label {
    margin-right: 30px;
  }
}
</style>

