<template lang="pug">
.day-inner-wrap(v-if='day != undefined')
  .dayOfWeek {{day.wday}}
  .dayNumber {{day.date}}
  .isEmptyWrap
    .isNotEmpty(v-if="day.notEmpty")
</template>

<script>
export default {
  props: ['day'],
};
</script>

<style lang="scss">
.day-inner-wrap {
  width: 40px;
  text-align: center;
  .dayOfWeek {
    text-transform: uppercase;
    font-size: 12px;
  }
  .isEmptyWrap {
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
    .isNotEmpty {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -3px;
      display: inline-block;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: #00f794;
    }
  }
}
</style>
