<template lang="pug">
.week-wrap
  .prev-week-btn-wrap.week-btn
    i.el-icon-arrow-left
  .day-wrap(v-for="day in week")
    WeekDay(:day='day')
  .next-week-btn-wrap.week-btn
    i.el-icon-arrow-right

</template>

<script>
import { mapState } from 'vuex';
import WeekDay from './WeekDay';

export default {
  data() {
    return {};
  },
  computed: {
    ...mapState(['week']),
  },
  components: {
    WeekDay,
  },
  created() {
    this.$store.dispatch('initWeek');
  },
};
</script>

<style lang="scss">
@import '@/assets/scss/colors.scss';

.week-wrap {
  .week-btn {
    i {
      font-size: 32px;
      margin-top: 3px;
      &:hover {
        color: $blue;
      }
    }
  }
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
</style>
